# Ignore all data files
data/clean/*
data/raw/vacancy/*
*.csv
*.xlsx
*.rds
*.RData

# Ignore R history and user-specific files
.Rhistory
.Ruserdata

# Ignore keys
*.key

# Ignore experimental scripts and outputs
scripts/experimental/
output/*